<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="frameworks/bulma.min.css" />
    <script src="frameworks/vue.min.js"></script>
    <script src="javascript/components/navbar.componentjs"></script>
    
    <title>Peso Corporeo - 404</title>
</head>

<body>
    <div id="sup">
        <nav-bar></nav-bar>
        <div style="padding:2rem">
            Se sei in questa pagina chiama lop e digli esattamente cosa hai fatto per capitare qui
        </div>
    </div>
</body>
<script src="javascript/v_login.js"></script>
</html>
