<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="frameworks/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <script src="frameworks/vue.min.js"></script>
    <script src="frameworks/axios.min.js"></script>
    <script src="javascript/components/navbar.component.js"></script>
    <script src="javascript/components/foobar.component.js"></script>

    <title>Peso Corporeo - Login</title>
</head>

<body>
    <div id="sup">
        <nav-bar></nav-bar>
        <section class="hero has-text-centered is-warning" style="padding: 0.8rem;">
        </section>

        <div class="content" style="padding: 1rem;">
            <div class="columns">
                <div class="column"></div>

                <div class="column">
                    <!--LOGIN-->
                    <form class="form" @submit.prevent="postForm()" v-show="post.tipo == 'login'">
                        <div class="content has-text-centered">
                            <a class="title is-3 has-text-right">LOGIN</a>
                        </div>
                        <div class="content">
                            <div class="field">
                                <label class="label">Username:</label>
                                <input class="input" type="text" placeholder="username" minlength="6" maxlength="16"
                                    v-model="post.username" required>
                            </div>
                            <div class="field">
                                <label class="label">Password:</label>
                                <input class="input" type="password" placeholder="password" minlength="6" maxlength="16"
                                    v-model="post.password" required>
                            </div>
                            <div class="has-text-danger subtitle" v-show="error.err">{{error.message}}</div>
                            <div class="field" @click="post.tipo = 'sign-up';error.err = false;">
                                <a class="link" style="text-decoration: underline;">Non hai un account?</a>
                            </div>
                            <button class="button is-link">Send</button>
                        </div>
                    </form>
                    <!--SIGNUP-->
                    <form class="form" @submit.prevent="postForm()" v-show="post.tipo == 'sign-up'">
                        <div class="content has-text-centered">
                            <a class="title is-3 has-text-right">SIGN-UP</a>
                        </div>
                        <div class="content">
                            <div class="field">
                                <label class="label">Username:</label>
                                <input class="input" type="text" placeholder="username" v-model="post.username"
                                    minlength="6" maxlength="16" required>
                            </div>
                            <div class="field">
                                <label class="label">Password:</label>
                                <input class="input" type="password" placeholder="password" v-model="post.password"
                                    minlength="6" maxlength="16" required>
                            </div>
                            <div class="field">
                                <label class="label">Re insert Password:</label>
                                <input class="input" type="password" placeholder="password" v-model="post.re_password"
                                    minlength="6" maxlength="16" required>
                            </div>
                            <div class="has-text-danger subtitle" v-show="error.err">{{error.message}}</div>
                            <div class="field" @click="post.tipo = 'login'; error.err = false;">
                                <a class="link" style="text-decoration: underline;">Sei già registrato?</a>
                            </div>
                            <button class="button is-link" :disabled="!checkPassword">Send</button>
                        </div>
                    </form>
                </div>
                <div class="column"></div>
            </div>
            <hr>
        </div>
        <foo-bar></foo-bar>
    </div>
</body>
<script src="javascript/v_login.js"></script>

</html>